/*==== google fonts ====*/

/*=== variables css ===*/
:root {
    --first-color: #1a73e8;
    --input-color: #80868b;
    --border-color: #dadce0;
    --body-font: 'Roboto', sans-serif;
    --normal-font-size: 1rem;
    --small-font-size: 0.75rem;
}

h1 {
    margin: 0;
    color: #595959;
}

.success {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 50vh;
    padding: 20px;
    box-sizing: border-box;
}

.border__logo {
    display: flex;
    margin-bottom: 15px;
}

.form {
    width: 100%;
    max-width: 412px;
    padding: 4rem 2rem;
    border-radius: 1rem;
    box-shadow: 0 10px 25px rgba(92, 99, 105, 0.2);
    background-color: #fff;
    position: relative;
}

.form__title {
    margin-bottom: 2rem;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    color: #595959;
    margin-top: 20px;
}

.logo {
    width: 46px;
    height: 46px;
}

.title__logo {
    width: 140px;
    margin-left: 14px;
}

.image__success {
    width: 56px;
    height: 56px;
    display: flex;
    margin: 0 auto;
}

.form__div {
    position: relative;
    margin-bottom: 1.5rem;
    border: 1px solid #fadb14;
    box-sizing: border-box;
    border-radius: 12px;
    padding: 25px;
}

.form__content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.text_address {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    font-family: 'Roboto' sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
}

.image__location {
    margin-right: 15px;
}

.form__input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-size: var(--normal-font-size);
    border: 1px solid var(--border-color);
    border-radius: 0.5rem;
    outline: none;
    padding: 1rem;
    background: none;
    z-index: 1;
}

.form__label {
    position: absolute;
    left: 1rem;
    top: 1rem;
    padding: 0 0.25rem;
    background-color: #fff;
    color: var(--input-color);
    font-size: var(--normal-font-size);
    transition: 0.3s;
}

.form__button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 0.75rem 2rem;
    margin-top: 2rem;
    outline: none;
    border: none;
    background-color: #fa541c;
    color: #fff;
    font-size: var(--normal-font-size);
    border-radius: 4px;
    cursor: pointer;
    transition: 0.3s;
    height: 42px;
    text-align: center;
    font-weight: 500;
}

.form__button:hover {
    cursor: pointer;
    transition: 0.5s all ease;
    opacity: 1;
    background: #fff0f6;
    border: 1px solid #fa541c;
    color: #fa541c !important;
    box-shadow: 0 10px 36px rgba(0, 0, 0, 0.15);
}

/* Responsive design */
@media (max-width: 768px) {
    .success {
        padding: 12px;
    }

    .form {
        padding: 2rem 1rem;
        margin: 0;
    }

    .form__title {
        font-size: 20px;
        line-height: 24px;
    }
}

/* Ensure no scroll issues */
body,
html {
    overflow-x: hidden;
}

/* Fireworks Animation */
.pyro>.before,
.pyro>.after {
    position: absolute;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 1;
    box-shadow:
        -120px -218.66667px #ff006e, -120px -218.66667px #ff006e, -29px -308.66667px #ff006e, 29px -308.66667px #ff006e, 120px -218.66667px #ff006e, 120px -218.66667px #ff006e,
        -212px -0.66667px #00ff84, -212px -0.66667px #00ff84, -122px -96.66667px #00ff84, 122px -96.66667px #00ff84, 212px -0.66667px #00ff84, 212px -0.66667px #00ff84,
        -81px -204.66667px #ffb300, -81px -204.66667px #ffb300, 6px -300.66667px #ffb300, 94px -300.66667px #ffb300, 81px -204.66667px #ffb300, 81px -204.66667px #ffb300,
        -148px -16.66667px #ff3c00, -148px -16.66667px #ff3c00, -55px -116.66667px #ff3c00, 55px -116.66667px #ff3c00, 148px -16.66667px #ff3c00, 148px -16.66667px #ff3c00,
        -297px -32.66667px #a200ff, -297px -32.66667px #a200ff, -205px -132.66667px #a200ff, 205px -132.66667px #a200ff, 297px -32.66667px #a200ff, 297px -32.66667px #a200ff,
        -146px -150.66667px #ff006e, -146px -150.66667px #ff006e, -54px -250.66667px #ff006e, 54px -250.66667px #ff006e, 146px -150.66667px #ff006e, 146px -150.66667px #ff006e,
        -297px -134.66667px #00ff84, -297px -134.66667px #00ff84, -205px -234.66667px #00ff84, 205px -234.66667px #00ff84, 297px -134.66667px #00ff84, 297px -134.66667px #00ff84,
        -178px -34.66667px #ffb300, -178px -34.66667px #ffb300, -85px -134.66667px #ffb300, 85px -134.66667px #ffb300, 178px -34.66667px #ffb300, 178px -34.66667px #ffb300,
        -287px -70.66667px #ff3c00, -287px -70.66667px #ff3c00, -194px -170.66667px #ff3c00, 194px -170.66667px #ff3c00, 287px -70.66667px #ff3c00, 287px -70.66667px #ff3c00,
        -98px -138.66667px #a200ff, -98px -138.66667px #a200ff, -5px -238.66667px #a200ff, 95px -238.66667px #a200ff, 98px -138.66667px #a200ff, 98px -138.66667px #a200ff,
        -147px -96.66667px #ff006e, -147px -96.66667px #ff006e, -54px -196.66667px #ff006e, 54px -196.66667px #ff006e, 147px -96.66667px #ff006e, 147px -96.66667px #ff006e,
        -297px -32.66667px #00ff84, -297px -32.66667px #00ff84, -205px -132.66667px #00ff84, 205px -132.66667px #00ff84, 297px -32.66667px #00ff84, 297px -32.66667px #00ff84,
        -178px -82.66667px #ffb300, -178px -82.66667px #ffb300, -85px -182.66667px #ffb300, 85px -182.66667px #ffb300, 178px -82.66667px #ffb300, 178px -82.66667px #ffb300,
        -287px -18.66667px #ff3c00, -287px -18.66667px #ff3c00, -194px -118.66667px #ff3c00, 194px -118.66667px #ff3c00, 287px -18.66667px #ff3c00, 287px -18.66667px #ff3c00,
        -98px -86.66667px #a200ff, -98px -86.66667px #a200ff, -5px -186.66667px #a200ff, 95px -186.66667px #a200ff, 98px -86.66667px #a200ff, 98px -86.66667px #a200ff;
    animation: 2s bang ease-out infinite backwards, 2s gravity ease-in infinite backwards, 8s position linear infinite backwards, 0.5s fadeOut ease-out forwards;
    animation-delay: 0s, 0s, 0s, 3s;
}

.pyro>.after {
    animation-delay: 1.5s, 1.5s, 1.5s, 3.5s;
    animation-duration: 2.5s, 2.5s, 10s, 0.5s;
}

.pyro {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    pointer-events: none;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes bang {
    to {
        box-shadow:
            -70px -315.66667px #ff006e, -28px -485.66667px #ff006e, 12px -405.66667px #ff006e, 69px -325.66667px #ff006e, 115px -515.66667px #ff006e,
            -142px -70.66667px #00ff84, -82px -246.66667px #00ff84, 2px -176.66667px #00ff84, 82px -106.66667px #00ff84, 142px -276.66667px #00ff84,
            -131px -374.66667px #ffb300, -39px -544.66667px #ffb300, 31px -464.66667px #ffb300, 100px -384.66667px #ffb300, 169px -554.66667px #ffb300,
            -98px -86.66667px #ff3c00, -38px -256.66667px #ff3c00, 32px -186.66667px #ff3c00, 98px -116.66667px #ff3c00, 168px -286.66667px #ff3c00,
            -147px -202.66667px #a200ff, -55px -372.66667px #a200ff, 25px -292.66667px #a200ff, 105px -222.66667px #a200ff, 185px -392.66667px #a200ff,
            -96px -320.66667px #ff006e, -4px -490.66667px #ff006e, 66px -410.66667px #ff006e, 136px -330.66667px #ff006e, 206px -500.66667px #ff006e,
            -147px -204.66667px #00ff84, -55px -374.66667px #00ff84, 25px -294.66667px #00ff84, 105px -224.66667px #00ff84, 185px -394.66667px #00ff84,
            -128px -104.66667px #ffb300, -36px -274.66667px #ffb300, 34px -194.66667px #ffb300, 104px -124.66667px #ffb300, 174px -294.66667px #ffb300,
            -137px -240.66667px #ff3c00, -45px -410.66667px #ff3c00, 35px -330.66667px #ff3c00, 115px -260.66667px #ff3c00, 195px -430.66667px #ff3c00,
            -48px -208.66667px #a200ff, 44px -378.66667px #a200ff, 114px -298.66667px #a200ff, 184px -228.66667px #a200ff, 254px -398.66667px #a200ff,
            -97px -166.66667px #ff006e, -5px -336.66667px #ff006e, 65px -256.66667px #ff006e, 135px -186.66667px #ff006e, 205px -356.66667px #ff006e,
            -147px -102.66667px #00ff84, -55px -272.66667px #00ff84, 25px -192.66667px #00ff84, 105px -122.66667px #00ff84, 185px -292.66667px #00ff84,
            -128px -152.66667px #ffb300, -36px -322.66667px #ffb300, 34px -242.66667px #ffb300, 104px -172.66667px #ffb300, 174px -342.66667px #ffb300,
            -137px -88.66667px #ff3c00, -45px -258.66667px #ff3c00, 35px -178.66667px #ff3c00, 115px -108.66667px #ff3c00, 195px -278.66667px #ff3c00,
            -48px -156.66667px #a200ff, 44px -326.66667px #a200ff, 114px -246.66667px #a200ff, 184px -176.66667px #a200ff, 254px -346.66667px #a200ff;
    }
}

@keyframes gravity {
    to {
        transform: translateY(300px);
        opacity: 0;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@keyframes position {

    0%,
    19.9% {
        transform: translate(-50%, -60%);
    }

    20%,
    39.9% {
        transform: translate(-30%, -40%);
    }

    40%,
    59.9% {
        transform: translate(-70%, -50%);
    }

    60%,
    79.9% {
        transform: translate(-20%, -30%);
    }

    80%,
    99.9% {
        transform: translate(-60%, -70%);
    }
}