@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@1,300&display=swap');
.page_cart{
  margin-top:100px;
  padding: 65px 10px 20px 100px;

}
.card_cart{
width: 1015px;
border: 1px solid #E5E5E5;
position: relative;
height:500px;
border-radius: 12px;
background-color: #fff;
}
.cart_custom{
  width: 412px;
border: 1px solid #E5E5E5;
position: relative;
height:500px;
border-radius: 12px;
background-color: #fff;
}
 
.cart_header{
  position: relative;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 20px;
  border-bottom: 1px solid #E5E5E5;
}
.cart_header_custom{
  position: relative;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 20px;
  border-bottom: 1px solid #E5E5E5;
}
.cart_body{
  padding-left: 24px;

}
.option{
  display: flex;
  justify-content: flex-end;
}
.select_all{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width:120px;
  display: none;
}
.content_cart_item{
margin-bottom: 10px;

}
.description{
display: flex;
justify-content: center;
margin: 0 auto;
}
 
.img_empty_cart{
  width: 450px;
  height: 340px;
  /* margin: 0 auto; */
   
}
.page_empty{
  position: relative;
 
}
.btn_back{
position: absolute;
width: 200px;
height: 42px;
left: 125px;
top: 250px;
text-align: center;
background: #FA541C;
border-radius: 4px;
display: flex;
  align-items: center;
  justify-content: center;
  padding: 24px !important;
}
.btn_back span{
  color:#fff;
  text-decoration:none;
}
.text_selectAll{
font-family: 'Roboto Mono', monospace;
font-style: normal;
font-weight: normal;
font-size: 14px;
color:#595959;
padding-top:15px

}
.delete_item{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width:120px;
  
}
.delete_item img{
  width: 15px;
}
.text_delete{
  font-family: 'Roboto Mono', monospace;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
padding-top:15px

}
.content_cart{
font-family: 'Roboto Mono', monospace;
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 24px;
}
.number_cart{
font-family: 'Roboto Mono', monospace;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 24px;
color:#595959
}
.cart_item{
  margin-top:20px;
  border: 1px solid #F5F5F5;
}
.cart_item img{
  border-radius: 12px;
  width: 90px;
}
.content_item{
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* float: left; */
}
.option_item{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 23px;
  /* float: left; */
}
.option_item img{
  width: 40px;
}
.title_item_cart{
font-family: 'Roboto Mono', monospace;;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;
margin-left: 0px;
}
.quantity{
  padding: 10px;
}
.about_custom{
  padding: 10px;
  margin-bottom: 10px;

}
.thongtin{
  padding: 10px
}
.cart_custom_body{
  display: flex;
  justify-content: space-around;
  border: 1px solid #F5F5F5;
  /* align-items:center */
}
/*  */
.cart_amount_body{
  display: flex;
  justify-content: space-around;
  align-items:center
}