.page__product {
    display: flex;
    align-items: center;
    justify-content: center;
}
.list__products {
    /* margin: 0 auto; */
    background: #fff;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.06);
    border-radius: 12px;
    margin-top: -100px;
    width: 1350px !important;
}
.text {
    position: relative;
    height: 24px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.text-detail {
    position: absolute;
    top: 40px;
    font-family: 'Rochester', cursive;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    color: #ff7a45;
}
.list_product {
    margin-top: 100px;
    text-align: center;
}
.item_product {
    display: inline-block;
    margin: 34px 10px;
}
