.about {
  padding: 80px;
  display: flex;
  margin: 0 auto;
  justify-content: space-evenly;
  align-items: center;
}
 
.about_text { 
  width: 20rem;
  margin-bottom: 100px;
  /* height: 206px; */
}
.about_video {
  min-width: 40%;
  
}
.sub_text1 {
  font-style: normal;
  font-weight: normal;
  font-size: 64px;
  color: #fa541c;
}
.sub_text2 {
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 30px;
}
.btn_image {
  width: 303px;
  height: 70px;
  background: #fa541c;
  border-radius: 12px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  /* padding-top: 2px; */
}
.btn_image span {
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 24px;
  text-align: center;
}
