.sub_text{
    color:red !important;
     
}
.show_image{
    display: flex;
    padding: 20px;
}
.show_image img{
    margin-right: 20px;

}
.testimonial-group, .row {
    overflow-x: auto;
    white-space: nowrap;
  }
  .testimonial-group , .row , .col-xs-4 {
    display: inline-block;
    float: none;
  }

 