@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;200;300;400&display=swap");

section {
  position: relative;
  width: 100%;
  min-height: 100vh;
  /* background-color: red; */
  /* display: flex; */
  /* justify-content: center; */
  /* align-items: center; */
}
.container {
  display: fixed;
  background-image: url(../../../res/image/header.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
}
header {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  /* background-color: red; */
  padding: 8px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 1000px;

  /* width: 90%; */
  /* background-image: url(../../../res/image/header.png);
  background-repeat: no-repeat;
  background-attachment: fixed; */
  /* background-position: center; */
  /* background-size: cover; */

  /* align-content: center; */

  /* background: linear-gradient(
    180deg,
    rgba(255, 240, 246, 0.07) 0%,
    rgba(255, 240, 246, 0.5) 31.05%,
    #fff0f6 100%
  ); */
}
header .group-logo {
  display: flex;
  justify-content: center;
  align-items: center;
}
header .logo {
  position: relative;
  max-width: 50px;
  height: 50px;
}
header .logo-title {
  position: relative;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 24px;
  margin-left: 18px;
}
header ul {
  position: relative;
  display: flex;
}
header ul li {
  list-style: none;
}
header ul li a {
  display: inline-block;
  margin-left: 40px;
  font-family: "Roboto Mono", monospace;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  color: #871400;
  line-height: 30px;
}
.button-cart {
  /* position: absolute;
  top: 13px;
  right: 78px; */
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 40px;
  background: #fff0f6;
  border: 1px solid #fa541c;
  box-sizing: border-box;
  border-radius: 4px;
}
.button-cart:hover {
  cursor: pointer;
}
.button-cart .ic_cart {
  width: 24px;
  height: 24px;
  margin-right: 8px;
}
.button-cart .title_cart {
  color: #fa541c;
}
