@media (max-width:980px) {
    .page_product_detail {
        margin-top: 100px;
        padding: 0;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    .group-logo {
        display: none !important;
    }
    .logo_mobile{
        width: 50px;
    }
    .button-cart {
        position: relative;
        left: 0.1rem;
    }
    .menu__item {
        height: 70px;
        display: flex;
        align-items: center;
        text-align: center;
    }
    .menu__btn {
        display: block !important;
    }
    .menu__item__pc {
        display: none !important;
    }
    .links {
        display: none !important;
    }
    .list__products{
        margin-top: 0px;
    }
    .about{
        display: flex;
        flex-direction: column !important;
    }
    .footer,.list-item{
        display: flex;
        flex-direction: column !important;
    }
    .about_video {
       display: none;
        /* height: 455px; */
   
    }
    .page_cart{
        margin-top:100px;
        /* padding: 65px 10px 20px 100px; */
        display:flex;
      flex-direction: column;
      }
      .page_cart {
        margin-top: 100px;
        padding: 0;
        display: flex;
    }
    .card_cart {
        border: 1px solid #E5E5E5;
        position: relative;
        width: 420px;
        margin-bottom:10px;
        /* height: 500px; */
        border-radius: 12px;
        background-color: #fff;
    }
    .product_body{
        width: 436px;
        border: 1px solid #E5E5E5;
        position: relative;
        height:500px;
        border-radius: 12px;
        background-color: #fff;
        padding: 24px;
        margin-top: 10px;
    }
    .option_detail{
       margin-top: 2.5rem;
       display:none;
       /* padding: 10px; */
    }
    #btn_cart{
        display: block;
    }
    .option_detail .btn_buy{
        margin-left: 10px;
        margin-right: 10px;
        
    }
    .product_content,
    .content_des{
    font-family:'Roboto', sans-serif;
    width: 400px;
    height: 168px;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 40px;
    }
}

/* mobile layout */

.menu__btn {
    width: 40px;
    height: 40px;
    color: #e0501b;
    display: none;
    margin-left: 8px;
    margin-top: 10px;
}

.menu__overplay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3);
    display: none;
    animation: fadeIn linear 0.2s;
   
}

.menu__item__mobile {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 320px;
    max-width: 100%;
    background-color: #fff;
    transform: translateX(-100%);
    opacity: 0;
    transition: transform linear 0.2s, opacity linear 0.2s;
     
}

.titile__link_mobile {
    margin-top: 24px;
    margin-left: 1rem;
    color: #333;
    display: block;
    padding: 8px 0;
    font-size: 1.4rem;
    
}

.menu__mobile__close {
    width: 28px;
    height: 28px;
    color: #666;
    position: absolute;
    top: 0.4rem;
    right: 1rem;
}

#nav-mobile-input:checked~.menu__overplay {
    display: block;
}

#nav-mobile-input:checked~.menu__item__mobile {
    transform: translateX(0);
    opacity: 1;
}